/* PAGE Product-detail */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}
body {
	max-width: 1440px;
	margin: auto;
}
main {
	display: flex;
	width: 100%;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
input:focus,
input:active,
button:focus {
	outline: none;
}
.clearfix {
	zoom: 1;
}
.clearfix-title {
	margin-bottom: 20px;
}
.clearfix::after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.logo {
	text-align: center;
	font-size: 20pt;
	padding: 30px 0 20px;
	color: darkslategray;
}
header {
	padding: 20px;
}
.navMenu {
	overflow: hidden;
	background-color: white;
	margin: 0 auto;
}
.navMenu a {
	float: left;
	display: block;
	color: gray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.navMenu > a {
	text-transform: uppercase;
}
.navMenu a.active {
	background-color: white;
	color: gray;
}
.navMenu .icon {
	display: none;
}
.navMenu .dropdown {
	float: left;
	overflow: hidden;
}
.navMenu .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: gray;
	padding: 14px 16px;
	background-color: white;
	font-family: inherit;
	margin: 0;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
}
.main_links {
	background-color: white;
	line-height: 1;
	transition: 0.4s all;
}
.main_links:hover {
	color: black;
}
.navMenu .navbar a:hover,
.navMenu .dropdown:hover .dropbtn {
	color: black;
}
.navMenu .dropdown-content {
	display: none;
	position: absolute;
	background-color: #000;
	min-width: 160px;
	z-index: 1;
	border: #cecece solid 1px;
	box-shadow: #dadada 2px 2px 10px 2px;
}
.navMenu .dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: white;
	color: #555555;
}
.navMenu .dropdown-content a:hover {
	background-color: #333;
	color: #ffffff;
}
.navMenu .dropdown:hover .dropdown-content {
	display: block;
}

.first-section {
	width: 100%;
}
.left-content {
	margin-top: 5px;
	float: left;
	width: 25%;
	min-height: 500px;
	padding: 30px;
	border-right: 1px solid lightgray;
}
.right-content {
	padding: 30px;
	width: 75%;
	height: 100px;
	float: left;
}
.searchBoxContainer {
	width: 100%;
}
textarea {
	width: 100%;
	min-height: 120px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 0;
}
input {
	width: 100%;
	height: 40px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 0;
}
.searchBoxContainer .search-box-submit {
	position: absolute;
	border-radius: 0;
	border: none;
	height: 40px;
	width: 40px;
	transform: translateX(-40px);
	background-color: #23282d;
	color: white;
	cursor: pointer;
}
.left-list {
	width: 100%;
	padding: 3px;
	margin-top: 20px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.list-content a:hover {
	color: black;
}
.left-list .list-title {
	background: #23282d;
	color: white;
	text-transform: uppercase;
	padding: 15px 20px;
}
.left-list .list-content {
	min-width: 160px;
	z-index: 1;
}
.left-list .list-content a {
	float: none;
	padding: 12px 19px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: white;
	color: #555555;
}
.left-list .list-content a:nth-child(even) {
	background-color: #f5f5f5;
}
#prodList img {
	height: 55px;
	width: 55px;
	object-fit: cover;
	margin-right: 10px;
}
#prodList a {
	padding: 15px 20px;
}
#prodList > .list-content > a > div {
	display: flex;
}
#prodList .product-title,
#prodList .product-price {
	padding: 5px;
}
#prodList .product-title {
	color: black;
}
#prodList .product-price {
	color: red;
}
#prodList .list-content > a:hover .product-price {
	color: #23282d;
}
#newsList img {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 100px;
	margin-right: 20px;
}
#newsList a {
	display: flex;
	padding: 13px 20px;
}
#newsList a:hover {
	color: black;
}
.product-image-container {
	width: 50%;
	float: left;
	min-height: 500px;
	padding-right: 30px;
}
.product-image-container img {
	width: 100%;
}
.product-detail-container {
	width: 50%;
	height: 100px;
	float: left;
}
.number-buy {
	height: 40px;
	width: 200px;
	padding: 15px;
	border-radius: 0;
	border: 1px solid #23282d;
}
.buy-submit {
	height: 40px;
	border: none;
	padding: 0px 30px;
	background: #23282d;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 0;
}
.related-product {
	width: 100%;
}
.related-product img {
	width: 100%;
	max-height: 50%;
	/* height: 50%; */
}
.related-product a {
	float: left;
	width: 25%;
	padding: 10px;
}
.related-text {
	padding: 10px;
}
.related-text h3 {
	font-size: 15px;
	margin-bottom: 20px;
}
.related-border {
	border: 2px solid #b5bec7;
}
.price {
	color: red;
	font-weight: 700;
}
@media screen and (min-width: 1300px) {
	footer {
		margin-top: 20%;
	}
}
footer {
	padding: 30px 50px;
	padding-bottom: 0;
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #23282d;
}
.footer_text {
	color: #000;
	font-weight: 600;
	font-size: 1.1rem;
}
.license {
	margin-top: 20px;
	text-align: center;
	background-color: black;
	padding: 20px;
	color: white;
	font-size: 1rem;
	width: 100%;
}
.card-img {
	width: 50%;
	float: left;

}
.card-text {
	width: 50%;
	padding: 0 30px;
	float: left;
}
.card-text h1 {
	margin-bottom: 20px;
	color: #23282d;
}
.card-text h3 {
	margin: 20px 0;
	color: #23282d;
}
.card-text p {
	font-size: 13;
	color: #555555;
}
button {
	border-radius: 0;
	border: none;
	background-color: #23282d;
	color: white;
	cursor: pointer;
}

.follow-us li a {
	display: inline-block;
	height: 50px;
	line-height: 54px;
	opacity: 1;
	text-align: center;
	transition: 0.3s all;
	width: 50px;
	margin-bottom: 10px;
}

.follow-us {
	text-align: center;
}
.follow-us li {
	display: inline;
	margin-right: 1px;
}
.follow-us a {
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
}

.facebook a {
	background-color: #3498db;
}
.google-plus a {
	background-color: #e74c3c;
}
.twitter a {
	background-color: #2c3e50;
}
.linkedin a {
	background-color: #3498db;
}
.follow-us li a:hover {
	background-color: #fff;
	color: #666;
}
.contact-card {
	box-shadow: 0px 0px 46px 10px rgba(0, 0, 0, 0.2);
}
